# Dependências
node_modules/

# Build / Output
dist/
.vite/
build/
coverage/

# Ambiente
.env
.env.*
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Testes e relatórios (se não quiser versionar)
*.lcov

# Docker (se você não quiser versionar esses no frontend)
Dockerfile
Dockerfile.dev
.dockerignore
